* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 90px;
} 
.menu {
  display: block;
  list-style: none;   
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-family:Verdana;
  font-size: 25px;
}
.titulo-leo{
  color: white;
  font-family:Tahoma;
  font-size: 35px;
  /*position: relative; */
  left: 10px;  
}

h1{
  text-align: center;
  font-size: 60px;
  font-family:'Trebuchet MS';
}
{}
.infancia-img{
  float: inline-start;
  /* position: absolute; */
  left: 15px;
  top: 200px;
}

.gif{
  display: block;
  float:right;
  /* position: absolute; */
  left: 950px;
  top: 200px;
}

.footer{
  background-color: black;
  color: #ffffff;
  height: 100px;
  text-align: center;
  position: relative;
  top: 1000px;
}
.contenedor{
  display: block;
}