  body {
  margin: auto;
  display: block;
}

  p {
    padding: 5px;
    margin-left: 5px;
    font-size: 40px;
    font-family: monospace;
    color: white

  }
  .nav {
    display: flex;
    align-items: center;
    background-color:#161925;
    list-style-type: none;
    height: 130px;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .nav a {
    color: white;
    background-color:#161925;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
  }

  .messi{
    margin-right: 1200px;
  }

  header {
    display: flex;
    align-items: center;
    background-color:#161925;
}
  
  
